In [220]:
import pandas as pd
import numpy as ny

In [221]:
movies=pd.read_csv("tmdb_5000_movies.csv");
crew=pd.read_csv("tmdb_5000_credits.csv");
print(movies.iloc[0])
print(crew.iloc[0])

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object
movie_id                                                19995
title                                                  Avatar
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [222]:
# what columns i want in my code 
# genres , id , overview , realease date ,title ,key words , cast crew 
# id , title , tags => [ genres , overview ,key words  ]
# merge one list into another }
movies=movies.merge(crew ,on='title');
print(movies.iloc[0])
movies=movies[['id','genres','overview','title','keywords',"crew",'cast']]
print(movies.iloc[0]['genres'])

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
movie_id                                                            19995
cast                    [{"cast_id": 242, "character": "Jake Sully", "...
crew                    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

In [223]:
import ast 

movies.head()

,id,genres,overview,title,keywords,crew,cast
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...",John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."

In [224]:
# now  we have to make function to extract the string value 
def convert(text):
    names=[]
    for i in ast.literal_eval(text):
        names.append(i['name'])

    return names

In [225]:
# this  function is used to apply conver t function in genres 
movies['genres']=movies['genres'].apply(convert);

In [226]:
# now applying same function on keywords 
movies['keywords']=movies['keywords'].apply(convert);
movies.head()

,id,genres,overview,title,keywords,crew,cast
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[culture clash, future, space war, space colon...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,206647,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr..."
3,49026,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
4,49529,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...",John Carter,"[based on novel, mars, medallion, space travel...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."

In [227]:
# split the overview  and convert into list
movies['overview'] = movies['overview'].fillna('').apply(lambda x: x.split())

In [228]:
# function to get starting three 3 charctewr name
def convert3(text):
    l=[];
    count=0;
    for i in ast.literal_eval(text):
        if (count<3):
            l.append(i['name'])
        count=count+1
       

    return l

In [229]:
movies['cast']=movies['cast'].apply(convert3)

In [230]:
movies.iloc[0]

id                                                      19995
genres          [Action, Adventure, Fantasy, Science Fiction]
overview    [In, the, 22nd, century,, a, paraplegic, Marin...
title                                                  Avatar
keywords    [culture clash, future, space war, space colon...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
cast         [Sam Worthington, Zoe Saldana, Sigourney Weaver]
Name: 0, dtype: object

In [231]:
def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text):
        if(i['job']=='Director'):
            l.append(i['name'])
            break;
    return l

In [232]:
# we have to extract the  name of directoppr and then we have to combine all 
movies['crew']=movies['crew'].apply(fetch_director)

In [233]:
movies.iloc[0]

id                                                      19995
genres          [Action, Adventure, Fantasy, Science Fiction]
overview    [In, the, 22nd, century,, a, paraplegic, Marin...
title                                                  Avatar
keywords    [culture clash, future, space war, space colon...
crew                                          [James Cameron]
cast         [Sam Worthington, Zoe Saldana, Sigourney Weaver]
Name: 0, dtype: object

In [234]:
# now we removing the extra space 
def remove_space(L):
    l1=[]
    for i in L:
        l1.append(i.replace(" ",""))
    return l1

In [235]:
movies['crew']=movies['crew'].apply(remove_space)
movies['cast']=movies['cast'].apply(remove_space)
movies['overview']=movies['overview'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [236]:
movies.head();

In [237]:
movies['tags']=movies['keywords']+movies['genres']+movies['cast']+movies['crew']+movies['overview'];

In [238]:
movies.iloc[0]
movies=movies.drop(columns=['keywords','genres','cast','crew','overview'])

In [239]:
# convert the text in single machine model
movies['tags']=movies['tags'].apply( lambda x:" ".join(x));
movies.iloc[0]

id                                                   19995
title                                               Avatar
tags     cultureclash future spacewar spacecolony socie...
Name: 0, dtype: object

In [240]:
type(movies['tags'][0])  # list ✅
print(type(movies['tags'][0]))
print(movies['tags'][0][:100])

<class 'str'>
cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe al

In [241]:
 # import the sklearn count vectorizor
from sklearn.feature_extraction.text  import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
# now define the vector
vector=cv.fit_transform(movies['tags']).toarray()

In [242]:
vector.shape

(4809, 5000)

In [253]:
# now we are ploting the graph and and calculating the cosine value 
from sklearn.metrics.pairwise import cosine_similarity 
similarity=cosine_similarity(vector)
print(similarity)
print(movies[movies['title']=='Avatar'])

[[1.         0.08838835 0.05892557 ... 0.02457366 0.02777778 0.        ]
 [0.08838835 1.         0.0625     ... 0.0260643  0.         0.        ]
 [0.05892557 0.0625     1.         ... 0.0260643  0.         0.        ]
 ...
 [0.02457366 0.0260643  0.0260643  ... 1.         0.07372098 0.04721922]
 [0.02777778 0.         0.         ... 0.07372098 1.         0.05337605]
 [0.         0.         0.         ... 0.04721922 0.05337605 1.        ]]
      id   title                                               tags
0  19995  Avatar  cultureclash future spacewar spacecolony socie...

In [255]:
# now i have to define the function and kextract the top 5 similar movies
similarity[0]

def recommand(movie):
    index=movies[movies['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title)

In [265]:
recommand('Avatar')
movies

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Battle: Los Angeles

,id,title,tags
0,19995,Avatar,cultureclash future spacewar spacecolony socie...
1,285,Pirates of the Caribbean: At World's End,ocean drugabuse exoticisland eastindiatradingc...
2,206647,Spectre,spy basedonnovel secretagent sequel mi6 britis...
3,49026,The Dark Knight Rises,dccomics crimefighter terrorist secretidentity...
4,49529,John Carter,basedonnovel mars medallion spacetravel prince...
...,...,...,...
4804,9367,El Mariachi,unitedstates–mexicobarrier legs arms paperknif...
4805,72766,Newlyweds,Comedy Romance EdwardBurns KerryBishé MarshaDi...
4806,231617,"Signed, Sealed, Delivered",date loveatfirstsight narration investigation ...
4807,126186,Shanghai Calling,DanielHenney ElizaCoupe BillPaxton DanielHsia ...
4808,25975,My Date with Drew,obsession camcorder crush dreamgirl Documentar...

In [259]:
import pickle

In [260]:
pickle.dump(movies,open('movie_list.pkl','wb'))

In [262]:
pickle.dump(similarity,open('similarity_list.pkl','wb'))